.ventana {
    -fx-background-image: url("../img/stacked-waves-haikei.png");
    -fx-background-size: cover;
    -fx-background-position: center center;

}

.ventana2 {
    -fx-background-image: url("../img/stacked-waves-haikei.png");
    -fx-background-size: 100%;
}

.buttonLogout {
    -fx-background-color: blue; /* color de fondo */
    -fx-text-fill: white; /* color de fuente hover */

    -fx-padding: 16px 20px;
    -fx-background-radius: 50px;

}

.buttonVolver {
    -fx-background-color: transparent;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.buttonLogout:hover {

    -fx-background-color: white; /* color de fondo */
    -fx-text-fill: blue; /* color de fuente */

    -fx-padding: 16px 20px;
    -fx-background-radius: 50px; /* redondear bordes */
    -fx-border-radius: 50px;
    -fx-border-color: blue;
}

.alert .dialog-pane {
    -fx-pref-height: 400px; /* Ajusta la altura máxima según tus necesidades */
}

.tabla .column-header {
    -fx-background-color: blue;

}

.tabla .column-header .label {
    -fx-font-size: 20px;
    -fx-text-fill: white;

}
